html{
  font-size: 18px;
}
.room_container{
}
.title{
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}
.user_name{
  font-size: 1rem;
  text-align: center;
}
.sex0{
  color: green;
}
.sex1{
  color: #46b8da;
}
.sex2{
  color: #fe9dae;
}
.tip{
  font-size: 0.8rem;
  margin-left: 0.3rem;
}
.alert{
  padding: 8px;
}
.alert .close{
  right: 0;
}
.user_name{
  word-break: break-all;
}
.room_user .progress{
  margin-bottom: 0;
  height: 1rem;
}
.info-title{
  margin-bottom: 10px;
  font-weight: bold;
}
.infos p{
  margin-bottom: 5px;
}
.infos{
  margin-bottom: 20px;
}
.rcode_desc{
  font-size: 0.8rem;
}

.modal-lg .modal-title{
  font-size: 2rem;
}
.ranks{
  margin-bottom: 20px;
  border-bottom: 1px dashed #e5e5e5;
}

@media (max-width: 768px){
  html{
    font-size: 9px;
  }
}
@media (max-width: 992px){
  html{
    font-size: 10px;
  }
}
@media (max-width: 1200px){
  html{
    font-size: 11px;
  }
}
